:root {
  --color-primary: cyan;
  --color-secondary: #0099c4;
  --color-text: #42493a;
}

::selection {
  background: var(--color-primary);
  color: var(--color-text);
}

@font-face {
  font-family: neptern;
  src: url(fonts/Neptern\ Harbour\ Free.ttf);
}
@font-face {
  font-family: metana;
  src: url(fonts/NeueMetana-Bold.otf);
}

svg {
  fill: var(--color-text);
  transition: 0.2s ease-in;
  margin: auto;
}
svg:hover {
  fill: var(--color-secondary);
  transform: translateY(-3px);
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: radial-gradient( rgba(0, 0, 0, 0.2) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

section {
  width: 100%;
  height: 100vh;
}

#copyNoti{
  font-family: "metana";
  font-weight: 600;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  margin: auto;
  overflow: hidden;
  text-align: center;
  transition: 0.4s ease-out;
}

a{
  transition: 0.4s ease-out;
  overflow: hidden;
  display: block;
  opacity: 1;
  transform: translate(0, 0);
}

#titleDiv {
  display: flex;
  margin: auto 0;
  padding-inline: 1rem;
  cursor: default;
}
#titleDiv:hover > #frogicon {
  transform: rotate(45deg);
}

#menuDiv {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  bottom: 0;
  position: fixed;
  margin: auto;
  height: fit-content;
  width: 100%;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-color: #272727;
}

h1 {
  font-family: neptern;
  font-size: 3rem;
  position: relative;
  display: inline;
  margin: auto;
  padding: 0.3rem;
  text-align: center;
  color: var(--color-primary);
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

#frogicon {
  height: 3.5rem;
  width: auto;
  display: inline;
  margin: auto;
  padding: 0.35rem;
  transition: 0.5s ease;
}

#socials {
  display: flex;
  justify-content: space-evenly;
  margin: auto 0;
  padding: 0.5rem;
  min-width: 21rem;
  min-height: 1.5rem;
  position: relative;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: calc(100% - 2rem);
  height: calc(86vh - 2rem);
  padding: 1rem;
  margin: 0;
}

.container {
  width: fit-content;
  padding: 1ch;
  margin: auto 0;
  height: fit-content;
}

h2 {
  font-family: Metana;
  font-size: 2.2rem;
  color: var(--color-text);
}

.impString {
  display: inline;
  color: var(--color-primary);
  transition: 0.25s ease-in-out;
}
.impString:hover {
  cursor: default;
  color: var(--color-secondary);
}

ul {
  font-family: "roboto mono";
  font-weight: 600;
  padding-inline: 1rem;
  font-size: 1.1rem;
  color: var(--color-text);
}
li {
  line-height: 2;
}

.mobile-thing {
  display: none;
}

@media screen and (max-width: 1024px) {
  .mobile-thing {
    display: block;
    margin: auto;
    width: 100%;
    padding: 0;
  }

  .PC-thing {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
  section {
    min-height: 100vh;
    height: max-content;
  }

  h1 {
    font-size: 2.1rem;
    text-shadow: -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 1.5px -1.5px 0 #000,
      -1.5px -1.5px 0 #000;
  }

  #frogicon {
    height: 2.8rem;
    width: auto;
  }

  #socials{
    margin: auto;
  }

  #socials > a > svg {
    height: 2.1rem;
    width: auto;
    margin: auto;
  }
  #socials > a{
    display: flex;
    margin: auto;
  }

  #copyNoti{
    font-size: 1rem;
    padding: 0.55rem;
  }

  #titleDiv {
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin: auto;
    padding: 1ch;
  }

  #titleDiv:hover > #frogicon {
    transform: rotate(0deg);
  }

  #menuDiv {
    top: 0;
    bottom: auto;
    width: 100%;
    margin: auto;
    position: relative;
    padding: 0;
    border-radius: 0;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.189);
  }

  #main {
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    padding-block: 1vh;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
  }

  .container {
    min-width: 80%;
    padding-inline: 2rem;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 0.8;
  }

  ul {
    font-size: 0.9rem;
  }
  li {
    padding-block: 0.2ch;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  ul{
    font-size: 1.4rem;
  }
  h2{
    font-size: 2.1rem;
  }

  h1 {
    font-size: 3.8rem;
    text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000,
      -2px -2px 0 #000;
  }

  #frogicon {
    height: 4.2rem;
    width: auto;
  }

  
  #socials > a > svg {
    height: 3rem;
    width: auto;
    margin: auto;
  }

  #copyNoti{
    font-size: 1.75rem;
  }
  }